.sign-in-page {
    height: 100vh;
    width: 100%;
    background-image: url('images/signIn.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-in-form-container {
    background: linear-gradient(to bottom right, rgba(46, 107, 90, 0.2) 0%, rgba(106, 147, 176, 0.2) 50%, rgba(167, 139, 186, 0.2) 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: hsla(0, 0%, 100%, 0.5) 1px solid;
    gap: 20px;
    position: relative;
  }
  
  .sign-in-form-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: secondary-semibold;
    color: #ffffff;
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
  
  .sign-in-form label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: secondary-regular;
    color: white;
  }
  
  .sign-in-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .sign-in-note {
    margin-top: -16px;
    font-size: 16px;
    color: #ffffffd8;
    font-family: secondary-regular;
  }
  
  .sign-in-note a {
    transition: color 0.3s ease;
    color: #fff;
  }
  .sign-in-note a:hover {
    color: #73A965;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 24px;

  }

  .input-sign-in {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 24px;
  }
  
  .input-sign-in input {
    padding: 16px 16px 16px 42px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    width: 100%;
  }

  .input-sign-in input:focus {
    outline: none;
    border-color: #73A965;
  }
  
  .input-icon-sign-in {
    position: absolute;
    left: 12px;
    color: #ffffff;
    pointer-events: none;
  }

  .password-toggle {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .password-toggle svg {
    width: 24px;
    height: 24px;
    color: white;
    transition: color 0.3s ease;
  }

  .password-toggle:hover  {
    background-color: transparent;
  }

.error-message {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
  justify-content: center;
  font-family: secondary-regular;
}

.error-icon {
  margin-right: 6px;
  font-size: 18px;
  color: yellow;
}

.sign-in-confirm-button {
  background-color: #73A965;
  color: #262626;
  border: none;
  border-radius: 50px;
  padding: 16px 24px;
  font-size: 20px;
  font-family: secondary-medium;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #73A965;
}

.sign-in-confirm-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translateY(-2px);
}

.home-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button:hover{
  background-color: transparent;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 24px;
  transition: all 0.3s ease;
}

