*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#root {
  width: 100%;
  background-color: #ffffff;
} 

@font-face {
  font-family: secondary-regular;
  src: url(./common/fonts/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face {
  font-family: primary;
  src: url(./common/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}
@font-face {
  font-family: secondary-bold;
  src: url(./common/fonts/Fira_Sans/FiraSans-Bold.ttf);
}
@font-face {
  font-family: secondary-semibold;
  src: url(./common/fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}
@font-face {
  font-family: secondary-medium;
  src: url(./common/fonts/Fira_Sans/FiraSans-Medium.ttf);
}